.rectangular-button{
   font-size: 14px;
   padding: 15px 25px;
   border-radius: 50px;
   border: 0px;
   color: white;
   letter-spacing: 0.1px;
}
@media screen and (max-width:768px) {
   .rectangular-button{
      padding: 15px 10vw;
   }
}
   
