.header-container{
    z-index: 99;
    top: 0;
    position: fixed;
    background-image: linear-gradient(rgb(0, 0, 0) 20%, rgba(0, 0, 0, 0));
    width: 100%;
    height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.back-arrow{
    cursor: pointer;
    display: none;
    background-image: url(https://www.aha.video/arrow_back_white.2513cfd8f083f113c0fa.svg);
    height: 25px;
    width: 25px;
}
.header-left-container{
    width: fit-content;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
}
.header-logo{
    cursor: pointer;
    margin-left: 25px;
    margin-right: 25px;
    background-image: url(https://www.aha.video/aha-logo.db810aeaa42b356a86a7.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 43px;
    width: 62px;
}
.header-left-container h2{
    color:  rgba(255, 255, 255, 0.698);
    font-size: calc( calc( 1vw * 0.3 ) + 10.4px); 
    margin: 0px 1.2vw;
}
.header-right-container{
    box-sizing: border-box;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    width:fitcontent;
    align-items: center;
}
.search-icon{
    cursor: pointer;
    margin-right: 15px;
    background-image: url(https://www.aha.video/search-icon.704c679b82e10dd8379c.svg) ;
    background-size: contain;
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
}
.translate-icon{
    cursor: pointer;
    margin-right: 15px;
    background-image: url(	https://www.aha.video/language-icon.ef88ebcc6b1bcda97fc4.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
}
.sign-in-card{
    cursor: pointer;
    color:  rgba(255, 255, 255, 0.698);
    font-size: calc( calc( 1vw * 0.3 ) + 10.4px);; 
    margin: 0px 20px;
    display: flex;
    flex-direction: row;
    width: fit-content;
    align-items: center;
}
.profile-icon{
    margin-right: 10px;
    background-position: center;
    align-items: center;
    border-radius: 15px;
    background-color: rgb(69, 68, 68);
    background-image: url(	https://www.aha.video/assets/icons/svg/avatar_profile.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 28px;
    width: 28px;
}

.header-scrolled{
    background-image: none;
    background-color: rgb(29, 30, 32);
}

@media screen and (max-width:900px) {
    .back-arrow{
        margin: 15px 10px;
        display: block;
    }
    .header-container{
        height: 58px;
        display: none;
        background-image: none;
        position: fixed;
        background-color: transparent;
    }
    .header-scrolled{
        display: block;
        background-image: none;
        background-color: rgba(0, 0, 0, 0.45);
    }
    .header-left-container{
        display: none;
    }
    .header-right-container{
        display: none;
    }

}