<div class="footer">
<div class="footer-container">
    <div class="socialmedia">
<img src="https://www.aha.video/assets/icons/svg/aha-footer-logo.svg" alt="">
<div>Connect with us</div>
<div class="social">
<img src="https://www.aha.video/assets/icons/svg/instagram-icon.svg" alt="">
<img src="https://www.aha.video/assets/icons/svg/facebook-footer.svg" alt="">
<img src="https://www.aha.video/assets/icons/svg/twitter-icon.svg" alt="">
</div>
<div>Download aha mobile app</div>
<div class="app-download">
    <img src="https://www.aha.video/assets/images/googlePlay.png" alt="">
    <img src="https://www.aha.video/assets/images/ios.png" alt="">
</div>
<div>Contact us: <a href="support@aha.video">support@aha.video</a></div>
    </div>
    <div class="must-watch" *ngFor="let footeritem of footerList">
           <div class="title">{{footeritem.title}}</div>
           <div class='content' *ngFor="let content of footeritem.content">{{content}}</div>
    </div>
</div>
</div>