.episode-container{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
margin-right:10px ;
}
.drop-down{
    cursor: pointer;
    padding: 10px;
    margin-bottom: 500px;
    background-color: rgb(101, 101, 101);
    margin-bottom: 20px;
}
.episode-image{
    cursor: pointer;
    overflow-x: hidden;
    border-radius: 10px;
    height: 124px;
    width: 215px;
    background-repeat: no-repeat;
    background-size: cover;
}
.play-icon{
    color: white;
    position: relative;
    top: 60%;
    left: 88%;
}
.offset{
    top:75%
}
.premuim-card{
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    position: relative;
    left: 73%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 15px;
    width: 60px;
    color: white;
    font-size: 8px;
    background-image:linear-gradient(180deg,#ff6d2e 28.63%,#dd461d); ;
}
.tick-icon{
    color: white;
    width: 20px;
    height: 20px;
    transform: scale(0.5);
} 
.episode-list-container{
    
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 990px;
    height: fit-content;
    margin-bottom: 40px;
}
.episode-details-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    width: 100%;
}
.title{
    color: white;
    font-size: 20px;
}
.other{
    margin-top: 10px;
    
    color: rgb(127, 126, 134);
    font-size: 18.88px;
}
.episode-description{
  margin-top: 30px;
    font-size: 16px;
    color: white;
}
.episode-description-mobile{
    display: none;
}
@media screen and (max-width:480px) {
    .episode-description{
        display: none;
    }
    .episode-description-mobile{
        display: block;
        color:rgb(127, 126, 134);
        font-size: 16px;
        width: 80%;
    }
    .episode-list-container{
      
        display: inline-block;
    }
    .episode-image{
        height: 124px;
        width: 215px;
        display: inline-block;
    }
    .episode-details-container{
        vertical-align: top;
        display: inline-block;
        width: fit-content;
    }
}